<div class = "contenedor">
    <img src="./../assets/img/angularLogo.png">
    <ul class="mi-lista">
        <li><strong>Tipo de programa: </strong>Single-page application Framework</li>
        <li><strong>Autor: </strong>Nuria Valdes 2DAM</li>
        <li><strong>Programado en: </strong>TypeScript, JavaScript</li>
        <li><strong>Última versión estable: </strong>16.2.1 -> 16 de agosto de 2023 </li>
        <li><strong>Última versión en pruebas: </strong>17.0.0 -> 16 de agosto de 2023 </li>
    </ul>
</div>

