.contenedor{
    display: flex; 
}
.columna{
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.columna p {
    text-align: center;
}
.columna img {
    max-width: 100%;
    height: auto;
}
ul{
    flex: 1; 
    padding: 0 20px;
    text-justify:auto;
}
li{
    font-size: 18px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif; 
}