<div class="contenedor">
    <div class="columna">
        <p>
            Fue desarrollado en el 2009 por Miško Hevery, inicialmente se llamaba AngularJS, el cual estaba basado en JS.El 14 de septiembre del 2016 fue lanzado Angular 2, que conocemos en la actualidad como Angular, basado en Typescript, el cual fue escrito desde cero
            El primer framework Javascript para introducir el patrón de la dependency injection, ya muy popular y utilizado en el mundo backend, y el primero con el cual era posible producir web application exclusivamente con Javascript, sin el uso de los lenguajes server side. 
            El funcionamiento de AngularJs estaba relacionado con los atributos escritos en la página HTML, un ejemplo es el clásico ng-controller, los cuales se leían y se les asignaba una función específica a cada uno de ellos. Por desgracia, después de algunos años, surgieron graves problemas de rendimiento de AngularJs. Algunos de los problemas más famosos se referían a los llamados variable shadowing y el digest loop, es decir el mecanismo con el cual AngularJs podía entregar el two-way data binding. Además en ese momento se hizo más fuerte la necesidad de tener un buen soporte para el mobile, algo que no había sido estudiado para AngularJs. 
        </p>
    </div>
    <div class="columna">
        <img src="./../assets/img/infoflower.jpeg" alt="Imagen">
    </div>
    <div class="columna">
       <h1>Informacion</h1>
       <ul class="lista">
            <li class="Punto">Fomracion</li>
            <li><strong>IES Doctor Fleming, Oviedo: </strong>Grado superior desarrollo de Aplicaciones 2022-2023</li>
            <li><strong>Colegio Aceimar, Noreña: </strong>Bachillerato 2020-2021</li>
            <li class="Punto">Stack Tecnologico</li>
            <li><strong>Front-end: </strong>HTML5, CSS3 y Angular</li>
            <li><strong>Back-end: </strong>Java,TypeScript y C#</li>
            <li><strong>Bases de datos: </strong>Oracle,PL/SQL, Sqlite, MySql, XML, Json</li>
            <li><strong>Programas: </strong>Eclipse,Android Studio, Visual Studio Code,Visual Studio</li>
        </ul>
    </div>
</div>
