<div class="contenedor">

    <div class="contenedorImg">
        <img src="./../assets/img/infoflower.jpeg" alt="Imagen">
    </div>

    <div class="contenedorInfo"> 
        <h1>Repository: </h1>
        <ul class="lista">
            <li class="Punto"><a href="https://github.com/Nuriavc65"><img src="./../assets/img/gitLogo.png"></a></li>
        </ul>
    </div>


    <div class="contenedorInfo">
       <h1>Curriculum: </h1>
       <ul class="lista">
            <li class="Punto">Formación</li>
            <li><strong>IES Doctor Fleming, Oviedo: </strong>Grado superior desarrollo de Aplicaciones 2022-2023</li>
            <li><strong>Colegio Aceimar, Noreña: </strong>Bachillerato 2020-2021</li>
            <li class="Punto">Stack Tecnologico</li>
            <li><strong>Front-end: </strong>HTML5, CSS3 y Angular</li>
            <li><strong>Back-end: </strong>Java,TypeScript y C#</li>
            <li><strong>Bases de datos: </strong>Oracle,PL/SQL, Sqlite, MySql, XML, Json</li>
            <li><strong>Programas: </strong>Eclipse,Android Studio, Visual Studio Code,Visual Studio</li>
            <li><img src="./../assets/img/flowers.jpg"></li>
        </ul>
    </div>

</div>
