<div class="contenedor">
  <div class="caja" routerLink="./juego">
    <img src="./../assets/img/PiedraPapelImg.jpeg">
    <div class="contenido">
      <p><strong>Piedra Papel y Tijeras</strong></p>
    </div>
  </div>
  <div class="caja" routerLink="./ahorcado">
    <img src="./../assets/img/snakeflower.jpeg">
    <div class="contenido">
      <p><strong>tres en ralla</strong></p>
    </div>
  </div>
  <div class="caja" routerLink="./memory">
    <img src="./../assets/img/memoriaflower.jpeg">
    <div class="contenido">
      <p><strong>Memory</strong></p>
    </div>
  </div>
</div>

    
        
 

