.contenedor{
    display: flex;
    align-items: center;
}
.contenedorimg{
    display: 1;
    text-align: center;
}
.image img {
    max-width: 100%;
    height: auto;
}
.text {
    flex: 1; /* El texto ocupa todo el espacio disponible */
    padding: 0 20px; /* Espacio alrededor del texto */
}

.text p {
    font-size: 18px;
    line-height: 1.5;
}