<div class="contenedor">
    <div class = "contenedorimg">
        <img src="./../assets/img/flowerMarketInicio.jpeg">
    </div>
    <div class = texto>
        <h1>!Bienvenido!</h1>
        <p>
            Bienvenido al mundo de la belleza de las flores. En este proyecto, juntamos la programación en Angular y la naturaleza. Pasando por Francia,Londres, NuevaYork o ciudades españolas como Barcelona o Madrid.
            Únete a mi en este viaje digital entre las flores, donde la tecnología y la naturaleza se unen.
        </p>
        <p>
            Sumérgete en los carteles de flores en Angular al mismo tiempo que se se entretiene con nuestros juegos
        </p>
    </div>
    
</div>
